<%= render "admin/header"%>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs3">
			<h3>商品一覧画面</h3>
		</div>
		<div class="col-xs-6"></div>
		<div class="col-xs-3"><%= link_to "新規登録画面へ",new_admin_item_path %></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>商品価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<% @items.each do |item| %>
					<tbody>
						<tr>
							<td><%= item.id%></td>
							<td><%= item.name%></td>
							<td><%= item.price%></td>
							<td><%= item.genre_id%></td>
							<td><%= item.status%></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>