<div class="container">
    <div class="row">
        <nav class="nav-sign-up">
            <div class="col-xs-2">
                <div class="logo_box">
                        <h2 class="logo_content"><%= link_to "LOGO", public_root_path %></h2>
                </div>
            </div>
            <div class="col-xs-5">
            </div>
            <div class="col-xs-5">
                 <div class="nav_links">
                    <ul>
                        <li class="nav-link"><%= link_to "商品一覧",admin_items_path%></li>
                        <li class="nav-link"><%= link_to "会員一覧",admin_end_users_path %></li>
                        <li class="nav-link"><%= link_to "注文履歴一覧",admin_orders_path %></li>
                        <li class="nav-link"><%= link_to "ジャンル管理",admin_genres_path %></li>
                    </ul>
                 </div>
            </div>
        </nav>
    </div>
</div>