<%= render "public/header",end_user:@end_user%>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h3>ショッピングカート</h3>
		</div>
		<div class="col-xs-6"></div>
		<div class="col-xs-2">
			<%= link_to "カートを削除する","/carts_destroy/",method: :delete,class: "btn btn-danger", data: { confirm: 'Are you sure?' }%>
		</div>
	</div>
	<div class="row">
		<% total = 0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<% @cart_items.each do |cart_item|%>
				<tbody>
					<tr>
						<td><%=attachment_image_tag cart_item.item, :image, size:"40x20",format: "jpeg",fallback: "no_image.jpg"%><%= cart_item.item.name%></td>
						<td><%= (cart_item.item.price*1.1).round %></td>
						<td>
							<%= form_for(cart_item,url: public_cart_item_path(cart_item.id), method: :patch) do |f| %>
								<%= f.select :amount,[1..100]%>
								<%= f.submit "変更する",class: "btn btn-info"%>
							<% end %>
						</td>
						<td><%= (cart_item.item.price*cart_item.amount*1.1).round %></td>
						<% total += cart_item.item.price*cart_item.amount%>
						<td><%= link_to "削除する",public_cart_item_path(cart_item.id), method: :delete,class: "btn btn-danger"%></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>
	<br>

	<div class="row">
		<div class="col-xs-3">
			<%= link_to "買い物を続ける",public_items_path %>
		</div>
		<div class="col-xs-6"></div>
		<div class="col-xs-3">
			<div class="cart_total_price">
				<div class="cart_total_price_japanese">
					<span>合計金額</span>
				</div>
				<div class="cart_total_price_count">
					<%= (total*1.1).round %>円
				</div>
			</div>
		</div>
	</div>
</div>