<div class="container">
    <div class="row">
        <nav class="nav-sign-up">
            <div class="col-xs-2">
                <div class="logo_box">
                        <h2 class="logo_content"><%= link_to "LOGO", public_root_path %></h2>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="youkoso">
                    <p>ようこそxxxさん</p>
                </div>
            </div>
            <div class="col-xs-5">
                 <div class="nav_links">
                    <ul>
                        <li class="nav-link"><%= link_to "マイページ" %></li>
                        <li class="nav-link"><%= link_to "商品一覧" %></li>
                        <li class="nav-link"><%= link_to "カート" %></li>
                        <li class="nav-link"><%= link_to "ログアウト" %></li>
                    </ul>
                 </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="new_sign_up">
          <h3>新規会員登録</h3>
    </div>

    <div class="row">
        <div class="col-xs-3">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "public/shared/error_messages", resource: resource %>

                <div class="field">
                <p>名前</p>
                </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :姓 %><br />
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
                </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :名 %><br />
                    <%= f.text_field :second_name, autofocus: true, autocomplete: "second_name" %>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>フリガナ</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :セイ %><br />
                    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "second_name" %>
                </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :メイ %><br />
                    <%= f.text_field :second_name_kana, autofocus: true, autocomplete: "second_name" %>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>メールアドレス</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :メールアドレス %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>郵便番号(ハイフンなし)</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :郵便番号 %><br />
                    <%= f.text_field :postal_code, autofocus: true, autocomplete: "email" %>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>住所</p>
            </div>
        </div>
        <div class="col-xs-6">
                <div class="field">
                    <%= f.label :住所 %><br />
                    <%= f.text_field :street_address, autofocus: true, autocomplete: "street_address" %>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>電話番号(ハイフンなし)</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :電話番号 %><br />
                    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>パスワード6文字以上</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :パスワード6文字以上 %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="field">
                <p>パスワード</p>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="field">
                    <%= f.label :パスワード確認用 %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-7">
            <div class="actions">
                <%= f.submit "新規登録", class: "btn btn-success" %>
            </div>
        </div>
<% end %>
        <h3>すでに登録済みの方</h3>
        <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。

</div>
