<%= render "public/header"%>
<br><br>
<div class="container">
	<h3><b>会員一覧画面</b></h3>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-7">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>会員ID</th>
						<th>氏名</th>
						<th>メールアドレス</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<% @end_users.each do |end_user| %>
				<tbody>
					<tr>
						<td><%= end_user.id%></td>
						<td><%= end_user.first_name%><%= end_user.second_name%></td>
						<td><%= end_user.email%></td>
						<% if end_user.is_deleted == false %>
							<td>会員</td>
						<% else %>
							<td><退会済み</td>
						<% end %>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>