<%= render "public/header",end_user:@end_user%>
<br>
<div class="container">
	<%= form_for(@order,url: public_orders_path,method: :post) do |f|%>
		<div class="row">
			<div class="col-xs-2"></div>
			<h3>注文情報入力</h3>
		</div>
		<div class="row">
			<h4><b>支払い方法</b></h4><br>
			<div class="col-xs-1"></div>
			<%= f.radio_button :payment_method, :true %>
  			<%= f.label :gender, "クレジットカード", {value: :true, style: "display: inline-block;"} %><br>
  			<div class="col-xs-1"></div>
  			<%= f.radio_button :payment_method, :false %>
  			<%= f.label :gender, "銀行振込", {value: :false, style: "display: inline-block;"} %>
		</div>
	<% end %>
</div>