<div class="container">
    <div class="row">
        <nav class="nav-sign-up">
            <div class="col-xs-2">
                <div class="logo_box">
                        <h2 class="logo_content"><%= link_to "LOGO", public_root_path %></h2>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="youkoso">
                    <p>ようこそxxxさん</p>
                </div>
            </div>
            <div class="col-xs-5">
                 <div class="nav_links">
                    <ul>
                        <li class="nav-link"><%= link_to "マイページ" %></li>
                        <li class="nav-link"><%= link_to "商品一覧" %></li>
                        <li class="nav-link"><%= link_to "カート" %></li>
                        <li class="nav-link"><%= link_to "ログアウト" %></li>
                    </ul>
                 </div>
            </div>
        </nav>
    </div>
</div>